<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="XamarinSampleApp.XamarinSampleApp" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" />
	<application android:label="RevTwo" android:theme="@android:style/Theme.Material.Light" android:icon="@drawable/ic_launcher_revtwo" ></application>
</manifest>